/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./app/styles/app/[duty]/[dutyName]/duty-back-link.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.duty-back-link_dutyBackLinkWrapper__99p86 {
  display: inline-block;
  position: absolute;
  top: 10px;
}
.duty-back-link_dutyBackLinkWrapper__99p86:hover {
  cursor: pointer;
  color: #90caf9;
}
.duty-back-link_dutyBackLinkText__HINOw {
  font-size: 20px;
}
.duty-back-link_dutyBackLinkIcon__WYRIH {
  font-size: 20px;
  vertical-align: text-bottom;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./app/styles/app/[duty]/[dutyName]/duty.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.duty_dutyWrapper__sRF_W {
  padding: 50px 100px 0;
  background-blend-mode: darken;
  background: rgba(0, 0, 0, 0.75) url(https://i.imgur.com/ETNWAJ4.jpg) no-repeat fixed center;
  background-size: cover;
  min-height: calc(100vh - 50px);
  color: white;
}
.duty_dutyParagraph__Vmvhg {
  font-size: 38px;
  margin: 5px 0;
}
.duty_dutyDescription__A_5nC {
  font-size: 26px;
  font-weight: 300;
  font-style: italic;
  clear: both;
  padding-top: 10px;
  text-align: justify;
}
.duty_dutyImageWrapper__UBBSv {
  position: relative;
  width: 700px;
  height: 400px;
  float: left;
  margin-right: 10px;
}
