.main {
  min-height: 800px;
  width: 100%;
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(28, 1, 1, 0) 35%, rgb(0, 0, 0) 100%), url(https://i.imgur.com/ETNWAJ4.jpg) no-repeat fixed center;
  background-size: cover;
}